USE [master]
GO
/****** Object:  Database [EducationDB]    Script Date: 12.06.2024 03:41:25 ******/
CREATE DATABASE [EducationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EducationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EducationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EducationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EducationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EducationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EducationDB]
GO
/****** Object:  User [myUser2]    Script Date: 12.06.2024 03:41:25 ******/
CREATE USER [myUser2] FOR LOGIN [myUser2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [myUser]    Script Date: 12.06.2024 03:41:25 ******/
CREATE USER [myUser] FOR LOGIN [myUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [myUser2]
GO
ALTER ROLE [db_owner] ADD MEMBER [myUser]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NULL,
	[child_id] [int] NULL,
	[attended] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Children]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[parent_id] [int] NULL,
	[class] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChildrenGroups]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChildrenGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[child_id] [int] NULL,
	[group_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](15) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](15) NULL,
	[supervisor_id] [int] NULL,
	[department] [varchar](50) NULL,
	[user_id] [int] NULL,
	[hourly_rate] [decimal](10, 2) NULL,
	[availability_schedule] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[teacher_id] [int] NULL,
	[level] [varchar](50) NULL,
	[day_of_week] [varchar](15) NULL,
	[time] [time](7) NULL,
	[session_link] [varchar](255) NULL,
	[department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NULL,
	[day_of_week] [varchar](15) NULL,
	[time] [time](7) NULL,
	[session_date] [date] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.06.2024 03:41:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([id], [session_id], [child_id], [attended]) VALUES (3, 61, 25, 1)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Children] ON 

INSERT [dbo].[Children] ([id], [first_name], [last_name], [parent_id], [class]) VALUES (1, N'Maciej', N'Pudełko', NULL, N'5')
INSERT [dbo].[Children] ([id], [first_name], [last_name], [parent_id], [class]) VALUES (2, N'Chomik', N'Dąbrowski', NULL, N'1')
INSERT [dbo].[Children] ([id], [first_name], [last_name], [parent_id], [class]) VALUES (18, N'Jurek', N'Jędrowski', 6, N'8')
SET IDENTITY_INSERT [dbo].[Children] OFF
GO
SET IDENTITY_INSERT [dbo].[ChildrenGroups] ON 

INSERT [dbo].[ChildrenGroups] ([id], [child_id], [group_id]) VALUES (5, 18, 9)
INSERT [dbo].[ChildrenGroups] ([id], [child_id], [group_id]) VALUES (6, 25, 6)
INSERT [dbo].[ChildrenGroups] ([id], [child_id], [group_id]) VALUES (7, 26, 8)
SET IDENTITY_INSERT [dbo].[ChildrenGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([id], [first_name], [last_name], [email], [phone_number], [user_id]) VALUES (1, N'Maciej', N'Pudełko', N'maciej.pudelko@testmail.com', N'789456123', 6)
INSERT [dbo].[Clients] ([id], [first_name], [last_name], [email], [phone_number], [user_id]) VALUES (3, N'Maciej', N'Dąbrowski', N'Maciej.dabrowski@test.pl', N'456456456', 77)
INSERT [dbo].[Clients] ([id], [first_name], [last_name], [email], [phone_number], [user_id]) VALUES (5, N'kacper', N'Krulikowski', N'testmail@gmial.com', N'741596638', 113)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [first_name], [last_name], [email], [phone_number], [supervisor_id], [department], [user_id], [hourly_rate], [availability_schedule]) VALUES (1, N'Admin', N'Adminowski', N'admin@example.com', N'123456789', NULL, N'Szef', 1, CAST(100.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Employees] ([id], [first_name], [last_name], [email], [phone_number], [supervisor_id], [department], [user_id], [hourly_rate], [availability_schedule]) VALUES (2, N'Jan', N'Kowalski', N'angielski@example.com', N'123456780', 1, N'Język angielski', 115, CAST(50.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[Employees] ([id], [first_name], [last_name], [email], [phone_number], [supervisor_id], [department], [user_id], [hourly_rate], [availability_schedule]) VALUES (3, N'Anna', N'Nowak', N'niemiecki@example.com', N'123456781', 1, N'Język niemiecki', 116, CAST(50.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([id], [name], [teacher_id], [level], [day_of_week], [time], [session_link], [department]) VALUES (4, N'Programowanie_Karol_Pietruszka_Tuesday_17:20', 10, N'2', N'Tuesday', CAST(N'17:20:00' AS Time), NULL, N'Programowanie')
INSERT [dbo].[Groups] ([id], [name], [teacher_id], [level], [day_of_week], [time], [session_link], [department]) VALUES (5, N'Język hiszpański_Kordian_Zaręba_Tuesday_18:30', 13, N'2', N'Tuesday', CAST(N'18:30:00' AS Time), NULL, N'Język hiszpański')
INSERT [dbo].[Groups] ([id], [name], [teacher_id], [level], [day_of_week], [time], [session_link], [department]) VALUES (6, N'Język niemiecki_Tomasz_Dopierała_Monday_15:00', 12, N'1', N'Monday', CAST(N'15:00:00' AS Time), NULL, N'Język niemiecki')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([id], [group_id], [day_of_week], [time], [session_date], [status]) VALUES (1, 4, N'2', CAST(N'17:20:00' AS Time), CAST(N'2024-06-04' AS Date), N'completed')
INSERT [dbo].[Sessions] ([id], [group_id], [day_of_week], [time], [session_date], [status]) VALUES (2, 4, N'2', CAST(N'17:20:00' AS Time), CAST(N'2024-06-11' AS Date), N'completed')
INSERT [dbo].[Sessions] ([id], [group_id], [day_of_week], [time], [session_date], [status]) VALUES (3, 4, N'2', CAST(N'17:20:00' AS Time), CAST(N'2024-06-18' AS Date), N'Scheduled')
GO
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (1, N'admin', N'$2a$10$BkFKH8JkRa.XlS0y1lzB6eLDWQxi2r2H1RK.Wx9vM8ISyXdRcs1Xa', N'admin')
INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (2, N'client', N'$2a$10$khrxKsd9uVU7siRk6Fz2J.0c2ymDUWeJjsPWCsBH3Bjj.0Pj0peBa', N'client')
INSERT [dbo].[Users] ([id], [username], [password], [role]) VALUES (3, N'employee', N'$2a$10$lRtzdHm8SLOU2DGn37x3/OLRXs2TH/9QO9j7bX0FPOJTM9/VXQLc2', N'employee')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__AB6E6164F7B1275C]    Script Date: 12.06.2024 03:41:26 ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E6164A698DBAA]    Script Date: 12.06.2024 03:41:26 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5721AE8DEF8]    Script Date: 12.06.2024 03:41:26 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ('Scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([child_id])
REFERENCES [dbo].[Children] ([id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[Children]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Clients] ([id])
GO
ALTER TABLE [dbo].[ChildrenGroups]  WITH CHECK ADD FOREIGN KEY([child_id])
REFERENCES [dbo].[Children] ([id])
GO
ALTER TABLE [dbo].[ChildrenGroups]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Users]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Employees] ([id])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([id])
GO
USE [master]
GO
